.nav{
	text-align:center;
	word-spacing:13px;
	font-size:27px;
	background-color:cornflowerblue;
}
a{
	text-decoration:none;
	color:white;
}

.corona {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
h2{
	color:darkcyan;
	font-size:30px;
}
p {
	font-size: 21px;
	font-family: Helvetica;
}
#virus {
	display: inline;
	margin-left: initial;
	width: 30%;
}
#explanation {
	display: inline;
	margin-right: initial;
	width: 30%;
}
table{text-align:center;
}
